<footer class="mt-24 mb-12">
  <div class="mb-1 flex gap-4 font-bold">
    <a href="/">
      <div class="flex">
        <img src="/static/img/rimgo.svg" class="invert hue-rotate-180" width="32" height="32" />
        <h1 class="text-md font-extrabold">rimgo</h1>
      </div>
    </a>
    <a href="https://codeberg.org/rimgo/rimgo">Source Code</a>
    <a href="/about">About</a>
    <a href="/privacy">Privacy</a>
  </div>
  <p class="text-md text-slate-200">rimgo does not allow uploads or host any content. Issues with content should be reported to Imgur.</p>
</footer>