<a href="/">
  <nav class="m-4 flex items-center justify-center">
    <img src="/static/img/rimgo.svg" class="invert hue-rotate-180" width="72" height="72" />
    <h1 class="font-extrabold text-3xl">rimgo</h1>
  </nav>
</a>