<!DOCTYPE html>
<html lang="en">

<head>
  <title>rimgo</title>

  {{> partials/head }}
</head>

<body class="font-sans text-lg bg-slate-800 text-white">
  {{> partials/nav }}
  
  <header class="my-8 p-8 rounded-xl flex flex-col gap-4 items-center justify-center bg-gradient-to-r from-blue-400 to-emerald-400">
    <h2 class="font-bold text-white text-2xl">The fast, private image viewer for Imgur.</h2>
    {{> partials/searchBar }}
    <a class="flex gap-1 items-center" href="/trending">Or see what's trending <img class="invert" src="/static/icons/PhArrowUpRight.svg" alt="" height="18" width="18" /></a>
  </header>
  
  <main class="my-8">
    <h2 class="font-bold text-2xl">What is rimgo?</h2>
    <p>
      rimgo is an alternative frontend for Imgur. 
      Originally based on <a href="https://codeberg.org/3np/rimgu" rel="noreferrer">rimgu</a>.
      It's a way to access Imgur without the ads, tracking, and other garbage.
      rimgo is not affiliated with Imgur, all content is proxied from Imgur.
    </p>
    <br/>
    <h3 class="font-bold text-xl">Notice</h3>
    <p>All images and media are from Imgur. rimgo does not allow uploads or comments. Any issues with content should be reported to Imgur.</p>
  </main>
  
  <h2 class="font-bold text-2xl">This instance</h2>
  <section class="my-4 lg:m-4 flex flex-col lg:flex-row gap-4 items-center">
    {{> partials/privacy }}
    <div class="self-start">
      <h2 class="text-xl my-2 font-bold">Additional information</h2>
      <ul>
        <li>Version: {{version}}</li>
        <li>Country: {{config.Privacy.country}}</li>
        <li>Provider: {{config.Privacy.provider}}</li>
        {{#if config.Privacy.cloudflare}}
        <li>Using Cloudflare?: Yes</li>
        {{else}}
        <li>Using Cloudflare?: No</li>
        {{/if}}
      </ul>
    </div>
  </section>
  <p><a href="/privacy">Learn more about instance privacy ></a></p>
  
  {{> partials/footer }}
</body>

</html>