<!DOCTYPE html>
<html lang="en">

<head>
  <title>Error - rimgo</title>
  
  {{> partials/head }}
</head>

<body class="font-sans text-lg bg-slate-800 text-white">
  {{> partials/nav }}

  <main class="flex flex-col">
    <h2 class="text-2xl font-bold">An error occurred</h2>
    <p>You may have found a bug in rimgo. If this is a bug, open an issue on <a href="https://codeberg.org/video-prize-ranch/rimgo/issues/new">Codeberg</a>.</p>
    <code class="mt-4 p-2 bg-slate-600 rounded-md">{{err}}</code>
  </main>

  {{> partials/footer }}
</body>

</html>